@model med.ViewModels.Applications.EditApplicationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdApplication" />
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <select asp-for="EquipmentId" class="form-control" asp-items="ViewBag.EquipmentId"></select>
                <span asp-validation-for="EquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDatePlan" class="control-label"></label>
                <input asp-for="StartDatePlan" class="form-control" />
                <span asp-validation-for="StartDatePlan" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FinishDatePlan" class="control-label"></label>
                <input asp-for="FinishDatePlan" class="form-control" />
                <span asp-validation-for="FinishDatePlan" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ApplicationStatusId" class="control-label"></label>
                <select asp-for="ApplicationStatusId" class="form-control" asp-items="ViewBag.ApplicationStatusId"></select>
                <span asp-validation-for="ApplicationStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
